*{margin:0px; padding:0px;}
.flash{width:980px; height:410px; margin:50px auto;position:relative; }
.flash img.left{position:absolute; left:50px; top:190px; z-index:333;}
.flash img.right{position:absolute; right:50px; top:190px; z-index:333;}
.flash ul li{list-style-type:none; position:absolute; background:#000;}
.flash ul li img{width:100%;height:100%; }
.flash ul li.cs1{width:640px;height:270px; z-index:11; left:170px; top:70px;}
.flash ul li img{opacity:0.5}
.flash ul li.cs1 img{opacity:1;}
.flash ul li.cs2{width:540px; height:230px; z-index:8; left:450px; top:90px;}
.flash ul li.cs{width:540px; height:230px; left:200px; top:90px;}
.flash ul li.cs3{width:540px; height:230px; z-index:8; left:0px; top:90px; }
