*{
    margin:0px;
    padding:0px;
}
.contain{
    width:1350px;
    height: 500px;
    margin:50px auto;
    overflow: hidden;
    position: relative;
}
.wrap{
    width:610%;
    height:500px;
    position: absolute; 
    left:0%;
    transition:all 1s;
}
.wrap img{
    width:1350px;
    height:500px;
}
.btn div{
    width:41px;
    height:69px;
    position: absolute;
}
.btn div:nth-child(1){
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-image:url(../img/icon-slides.png);
    background-position: 83px 0px;
}
.btn div:nth-child(2){
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-image:url(../img/icon-slides.png);
    background-position: 41px 0px;
}
.btnList{
    width:150px;
    height:21px;
    position: absolute;
    bottom:30px;
    right:25px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.btnList div{
    width:15px;
    height:15px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-color: hsla(0,0%,100%,.3);
    background: rgba(0,0,0,.4);
}
.btnList div.active{
    background: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}

